@font-face {
  font-family: "Gotham-Light";
  src: url("./fonts/Gotham-Light.TTF");
}
@font-face {
  font-family: "Gotham-Bold";
  src: url("./fonts/Gotham-Bold.TTF");
}
@font-face {
  font-family: "Gotham-Medium";
  src: url("./fonts/Gotham-Medium.TTF");
}

@font-face {
  font-family: "Gill-Sans";
  src: url("./fonts/GillSans.ttc");
}
@font-face {
  font-family: "Gill-Sans-Bold";
  src: url("./fonts/Gill-Sans-Bold.ttf");
}
body {
  font-family: "Gill-Sans";
}
/* #sceneTypes {
  width: 300px;
  height: 80px;
  position: absolute;
  left: 10px;
  top: 10px;
  background: #3f3f3f;
  border-radius: 20px;
  color: white;
  text-align: center;
  z-index: 2;
}
#sceneTypes img{
  position:absolute;
  top:20px;
  right:10px;
  width:30px;
  height: 30px;
  cursor: pointer;

} */


.sceneTypesContent {
  width: 160px;
  position: absolute;
  top: 10px;
  background: #3f3f3f;
  border-radius: 11px;
  color: #f4f1d0;
  padding: 10px;
  box-shadow: 2px 2px 2px #111;
}

#upperLeft {
  left: 10px;
  height: 195px;
  width: 160px;
}

#upperRight {
  right: 10px;
  height: 165px;
  width: 140px;


}

.active {
  color: #f26321;
}

.sceneTypesContent .column {
  margin-top: 5px;
  cursor: pointer;
  font-size: 10px;
}
.sceneTypesContent i {
  float: left;
  margin-left: 20px;
  font-size: 25px;
}
.sceneTypesContent h1 {
  /* margin-left: 75px;
   */
   text-align: center;
}
#titleSceneTypesContent {
  text-align: center !important;
  margin-left: 0px;
  font-family: "Gill-Sans-Bold";
  font-size: 20px;
  margin-bottom: 0px;
}
.sceneTypesContent .column img {
  width: 130px;
  height: 110px;
  z-index: 3;
}

#min-max-button i {
  position: absolute;
  left: 12px;
  top: 12px;
  cursor: pointer;
}

#citysearchbar {
  width: 380px;
  height: 80px;
  position: absolute;
  right: 10px;
  top: 10px;
  background: #111;
  border-radius: 20px;
  color: #f4f1d0;
  text-align: center;
  z-index: 2;
  right: -340px;
}
#citysearchbar img{
  position:absolute;
  top:20px;
  left:10px;
  width:30px;
  height: 30px;
  cursor: pointer;

}


#city-scrolldown i {
  position: absolute;
  right: 12px;
  top: 12px;
  cursor: pointer;
}

#weatherContent {
  width: 380px;
  height: 600px;
  position: absolute;
  right: 10px;
  top: 55px;
  background: #111;
  border-radius: 0 0 20px 20px;
  color: #f4f1d0;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  display:none;
  /* left:-350px; */
}

#weatherContentPopOut {
  width: 60px;
  height: 200px;
  position: absolute;
  right: 0px;
  top: 50%;
  z-index: 4;
  background: #111;
  border-radius: 20px 0px 0px 20px;
    color: #f4f1d0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#weatherContentPopOut i{
  width: 80px;


}
.weatherContentinfo{
  margin-top: 40px;
}

.weatherContentinfo p a{
  text-decoration: none;
  color: white;
}

.weatherContentinfo input[type=text]{
    color: black;
    height: 28px;
    padding-left: 10px;
    text-decoration: none;
    border-radius: 5px; 
    border: 0;
    font-size :14px;
}

#dialog{
  font-family: "Gotham-Light";
  font-size: 30px;
}
#dialog img{
  width:700px;
  height:250px;
}
#dialog iframe{
  margin:0 auto;
}

#toggleNightDay {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translate(-50%, -50%);  
  height: 50px;
  width: 110px;
  border-radius: 10px;
  background-color: #111;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#toggleNightDay i {
  font-size: 30px;
  cursor: pointer;
}

#changeFromPlayground {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, -50%);  
  width: 130px;
  border-radius: 10px;
  background-color: #111;
  text-align: center;
  color: #f4f1d0;
  height: 70px;
}

#changeFromPlayground p {
  color: #f4f1d0;
}

#changeFromPlayground i {

}
#informationContainer {
  left: 200px;
  top: 80px;
  height: 380px;
  width: 280px;
}

#informationContainer #backToLargeView{
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 24px;
  color: #f4f1d0;
  margin: 0;
  cursor: pointer;
} 

#greaterThan {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0px;
  left: 5px;
  font-size: 20px;
  color: #f4f1d0;
  margin: 0;
  cursor: pointer;
  align-items: center;
  justify-content: flex-end;
}

#lessThan {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0px;
  right: 5px;
  font-size: 20px;
  color: #f4f1d0;
  margin: 0;
  cursor: pointer;
  align-items: center;
  justify-content: flex-end;

}

#lessThan i {
  margin-left: 5px;
}
#greaterThan i {
  margin-right: 5px;
  margin-left: 5px;
}

#lessThan p {
  margin-bottom: 17px;
}
#greaterThan p {
  margin-bottom: 17px;
}

/* #informationContainer #lessThan .fa-less-than {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 20px;
  color: #f4f1d0;
  margin: 0;
  cursor: pointer;

}
#informationContainer #greaterThan p {
  display: inline;
  position: absolute;
  bottom: 10px;
  right: 40px;
  font-size: 20px;
  color: #f4f1d0;
  margin: 0;
  cursor: pointer;

}
#informationContainer #lessThan p{
  position: absolute;
  bottom: 10px;
  left: 40px;
  font-size: 20px;
  color: #f4f1d0;
  margin: 0;
  cursor: pointer;

}

#informationContainer #greaterThan .fa-greater-than {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 30px;
  color: #f4f1d0;
  margin: 0;
  cursor: pointer; */

}